.wrapper {
    width: 900px;
    height: 700px;
    background: beige;
    margin: 0 auto; 
}

.wrapper div {
    width: 100px;
    height: 100px;
    background: tomato;
    margin-bottom: 100px;
    position: relative;
}

@keyframes move {
    0% {
    top: 0;
    left: 0;
    }
    50% {
        top: 100px;
        background: cornflowerblue;
    }
    100%{
        top: 0;
        left: calc(100% - 100px);
    }
}

.box-1 {
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.box-2 {
    animation-name: pulse;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse {
    from {
     transform: scale(0.7);
     box-shadow: 0 0 0 #cecece;
    }
    to {
        transform: scale(1.2);
        box-shadow: 0 0 25px darkmagenta;
    }
}

.clock {
    width: 500px;
    height: 500px;
    background: dodgerblue;
    border-radius: 50%;
    margin: 100px auto; 
    position: relative;
}
.sec {
    width: 2px;
    height: 200px;
    background: firebrick;
    position: absolute;
    left: calc(50% - 1px);
    top: 50px;
    z-index: 2;
    animation-duration: 60s;

    animation-name: arrows;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.min {
    width: 6px;
    height: 230px;
    background: #444;
    border-radius: 3px;
    position: absolute;
    left: calc(50% - 3px);
    top: 20px;
    z-index: 1;
    animation-duration: calc(60s * 60);
}
.hour {
    width: 12px;
    height: 150px;
    background: #000;
    border-radius: 5px;
    position: absolute;
    left: calc(50% - 6px);
    top: 100px;
    animation-duration: calc(60s * 1200);
}
.center {
    width: 15px;
    height: 15px;
    background: crimson;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
}
.sec, .min, .hour {
animation-name: arrows;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes arrows {
    from {
    transform: rotate(0deg);
    transform-origin: 0 100% 0;
    }
    to {
        transform: rotate(360deg);
        transform-origin: 0 100% 0;
    }
}
p {
    margin: 0;
    font-style: 36px;
    position: absolute;
}
.number-12 {
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}
.number-6 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.number-3 {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.number-9 {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.number-1 {
    right: 25%;
    top: 7%;
}
.number-2 {
    right: 9%;
    top: 23%;
}
.number-4 {
    right: 9%;
    bottom: 23%;
}
.number-5 {
    right: 25%;
    bottom: 7%;
}
.number-7 {
    left: 25%;
    bottom: 7%;
}
.number-8 {
    left: 9%;
    bottom: 23%;
}
.number-11 {
    left: 24%;
    top: 8%;
}
.number-10 {
    left: 8%;
    top: 24%;
}